<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obter mais informações sobre como configurar seu aplicativo ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
	</appSettings>

	<connectionStrings>
		<add name="Porta_MemóriaDBConnectionString" connectionString="Data Source=DESKTOP-L96BIJ6;Initial Catalog=Porta_MemóriaDB;Integrated Security=True" 
			 providerName="System.Data.SqlClient" />
	</connectionStrings>


	<system.web>
		<compilation debug="true" targetFramework="4.7.2" />
		<httpRuntime targetFramework="4.7.2" />

		<authentication mode="Forms">
			<forms loginUrl="Login.aspx" timeout="30" />
		</authentication>

		<!-- Bloqueia o acesso a todas as páginas por padrão -->
		<authorization>
			<deny users="?" />
		</authorization>
	</system.web>

	<!-- Exceção para a página de Cadastro.aspx permitir acesso anônimo -->
	<location path="Cadastro.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
</configuration>